<div class="large_table_board mt-3" id="task_tracking-show">
  <div class="table-header">
    <h2 class="text-center">
      <%= t('tasks_tracker').upcase %>
    </h2>
  </div>

  <%= render 'layouts/search', path: task_tracking_path %>

  <div class="text-center my-3">
    <%= link_to t('switch_to_goals'), goal_tracking_path, class: 'btn btn-sm btn-primary' %>
  </div>

  <div class="tracking-wrapper table-body">
    <%= render 'goal_tracking/table', items: @tasks %>
  </div>
</div>
