<div class="large-table-board mt-3" id="task-tracking_show">
  <div class="table-header list">
    <h2 class="text-center">
      <%= t('tasks_tracker').upcase %>
    </h2>
  </div>

  <div class="large-table-board__body">
    <%= render 'layouts/search', path: task_tracking_path %>

    <div class="text-center my-3">
      <%= link_to t('switch_to_goals'), goal_tracking_path, class: 'btn btn-sm btn-primary' %>
    </div>

    <div class="tracking-wrapper table-body">
      <%= render 'goal_tracking/table', items: @tasks %>
    </div>
  </div>
</div>
