<h2 class="text-center mt-3"><%= t('tasks_tracker').upcase %></h2>
<div class="tracking-wrapper">
  <%= render 'layouts/search', path: task_tracking_path %>

  <div class="d-flex justify-content-start mb-3">
    <%= link_to t('switch_to_goals'), goal_tracking_path, class: 'btn btn-primary' %>
  </div>

  <%= render 'goal_tracking/table', items: @tasks %>
</div>
