.categories-wrapper {
  &__item > a { color: inherit; }

  .categories-list {
    &__item {
      a { color: inherit; }
    } 
  }

  .actions-items {
    li.action-item {
      padding: 5px 10px;
    }
  }
}

