#categories-index {
  .categories-wrapper {
    display: flex;
    justify-content: center;

    .action-items { border-radius: 1rem; }
  
    .action-list {
      &__item {
        padding-inline: 10px;
      }
    }
  }
}

