#goals-show {

  /// Goal info
  .goal-info {
    box-shadow: 0 .4rem .8rem #0005;
    background-color: $third-color;
    border-radius: 1rem;
    width: 43%;
    margin: 0 auto;

    .completed-info {
      &__progress {
        @include rounded-progress;
        width: 50px;
        height: 50px;
        margin: 0;

        span { 
          color: rgba(9, 194, 30, 1);
          font-size: 13px;
          font-weight: 800;
        }
      }
    }

    .completed {
      text-transform: uppercase;
      font-weight: 800;
      color: #09c21e;
    }

    .buttons-list { margin: 0; }
  }

  .table-header {
    margin: 0 auto;
  }

  .table-main {
    background-color: $third-color;
    width: 61vh;
  }

  /// goals, habits, tasks: goals/show
  div.completed {
    background-color: rgba(39, 245, 93, 0.6);
  }

  .completion-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;

    .table-wrapper {
      justify-content: start;

      .btn-primary,
      .btn-primary:focus,
      .btn-primary:active {
        font-size: 13px;
      }
    }
  }
}




