<div class="col-md-4 offset-md-4">
  <h1 class="text-center">Password reset</h1>

  <div class="card">
    <div class="card-body">
      <%= form_with url: new_password_reset_path, method: :post do  %>
        <div class="mb-3">
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div class="actions"><%= submit_tag 'Reset Password', class: 'btn btn-primary' %></div>
      <% end %>
    </div>
  </div>
</div>
