<div class="mt-3 text-center">
  <h1>Calendar</h1>

  <%= month_calendar do |date| %>
    <%= date.day %>
    <% @habits.each do |habit| %>
      <div class="habit_record <%= habit_record_exists?(habit, date) ? 'completed' : 'uncompleted' %> border border-dark">
        <%= habit.name %>
      </div>
    <% end %>
  <% end %>
</div>
