.actions-wrapper {
  display: flex;
  justify-content: space-between;
}

      /// Goals ///
.goals-wrapper {
  width: 300px;
  height: 700px;
  overflow-y: auto;
  border: 2px solid #fff5;
  box-shadow: 0 0.4rem 0.8rem #0005;
}

.goals-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  .goal-item {
    width: 100%;
    height: 130px;
    background-color: #fff5;
    margin-bottom: 20px;
    .goal-title {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: bold;
      padding: 5px;
    }
    .goal-bar {
      width: 100%;
    }
    .completed-goal {
      padding-inline: 10px;
      text-align: right;
    }
  }
}

.new_goal {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.progress-info {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  span {
    font-weight: bold;
  }
}

      /// Actions (Habits, Tasks) ///
.actions-items {
  height: 600px;
  width: 450px;
  background-color: #fff5;
  box-shadow: 0 .4rem .8rem #0005;
  .items-title {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .actions-header {
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
    .new-task {
      text-transform: uppercase;
    }
  }

  .action-list {
    padding: 10px;
    height: 492px;
    overflow-y: auto;
    list-style-type: none;
    .action-item {
      display: flex;
      justify-content: space-between;
      background: #a3b0c9;
      padding: 5px;
      border-radius: 5px;
      align-items: center;
      margin-bottom: 7px;
      .bi-check-lg::before {
        color: #2da31d;
        font-size: 30px;
      }
    }
  }

}

.divider {
  display: block;
  height: 2px;
  opacity: 0.3;
  background: #2E2F30;
}

.progress-bar {
  background-color: #f2f2f2;
  height: 10px;
  width: 30%;
  border-radius: 5px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
}

.completed-wrapper {
  padding-left: 11px;
  span {
    font-weight: bold;
  }

  i.bi {
    font-size: 26px;
    margin-top: 10px;
    color: #0d6efd;
  }

  .completed-info {
    display: flex;
    justify-content: space-between;
    padding-right: 40%;
    .show-all {
      border: 1px solid #2E2F30;
      padding: 0 4px;

      a, i {
        color: #2E2F30;
        text-decoration: none;
      }

    }
    i.bi {
      font-size: 17px;
    }
  }
}


      /// Scrollbar ///
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

