<h1 class="text-center mt-3">Edit user</h1>

<div class="col-sm-12 col-md-4 offset-md-4">
  <%= render "form", user: user, path: user_path(user) %>

  <%= link_to t('back'), user_path(user), class: "btn btn-secondary mt-3" %>
</div>
