<div class="offset-4 col-md-4">
  <h1 class="text-center">User info</h1>

  <div class="card">
    <div class="card-body">
      <h2 class="">
        name: <i><%= @user.name %></i>
      </h2>

      <h2 class="">
        email: <i><%= @user.email %></i>
      </h2>
    </div>
  </div>
</div>
