<div class="col-sm-12 offset-md-4 col-md-4">
  <h1 class="text-center">User info</h1>

  <dl class="row text-center border border-black">
    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9"><%= @user.name %></dd>

    <dt class="col-sm-3">Email:</dt>
    <dd class="col-sm-9"><%= @user.email %></dd>
  </dl>
</div>
</div>

