<% if resource.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('form_contains') %> <%= t('activerecord.errors', count: resource.errors.count) %>:
    </div>
    <ul>
      <% resource.errors.each do |msg| %>
        <li class='text-danger'><%= msg.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>