<% goal ||= nil %>

<div class="btn-group">
  <% %w[day week month].each do |period| %>
    <%= active_link_to t("date.#{period}"),
                       goal ? goal_task_chart_path(goal, period:) : task_chart_path(period:, chart_type: @chart_type), class: "btn btn-primary btn-sm #{period}-link" %>
  <% end %>
</div>

