<h1 class="text-center mt-3">How to use this app?</h1>
<div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

  <div class="card mb-3">
    <div class="card-body">
      <ul style="list-style: decimal">
        <li><p>Go to "Dashboard" or "My Goals"</p></li>
        <li><p>Click on 'Add goal'</p></li>
        <li><p>Fill in fields you need</p></li>
        <li><p>Add Habits, Tasks and complete them</p></li>
        <li><p>Click on "Chart" or "Calendar" to see your progress</p></li>
      </ul>
    </div>
  </div>

  <div class="">Let's try to <%= link_to "Start", goals_path, class: "btn btn-primary" %></div>
</div>

