#challenges-index {
  .challenges-wrapper {
    display: flex;
    flex-direction: column;

    .table-main {
      margin-inline: auto;
      width: 600px;
      background-color: $third-color;
    }
  }
}