section#challenges-show {
  .challenge-header {
    background: $third-color;
    border-radius: 2rem;
    //width: 45%;
    //margin: 0 auto;
    padding: 10px;
    border: 2px solid #fff5;
    box-shadow: 0 0.4rem 0.8rem #0005;
  }

  .challenge-wrapper {
    .goal-items {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      flex-wrap: wrap;

      .goal-item {
        padding: 15px;
        width: 230px;
        height: 230px;
        background: $third-color;
        border-radius: 5%;
        border: 2px solid #fff5;
        box-shadow: 0 0.4rem 0.8rem #0005;

        &__progress {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;

          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: radial-gradient(closest-side, white 79%, transparent 80%),
          conic-gradient(rgba(9, 194, 30, 1) 0%, rgba(39, 245, 63, 0.21) 0);

          span {
            color: rgba(9, 194, 30, 1)
          }
        }

      }

      .bottom-wrapper {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__created-ago {
          color: #808080;
          font-size: 14px;
        }
      }

    }
  }

  .winner-board {
    width: 50%;
    margin: 15px auto;

    &__user {
      margin: 0 auto;
      width: fit-content;

      .question {
        fill: $fourth-color;
      }

    }
  }

  .table-main.challenge {
    width: 62vh;
  }
}