#calendar-show {
  background-color: $third-color;
  border-radius: 2rem;
  height: 100%;
  box-shadow: 0 .4rem .8rem #0005;

  .table-body {
    background-color: #fff;
  }

  .input-group {
    align-items: center;
    justify-content: space-evenly;

    &__form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}