.habit-record {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.completed {
  background-color: rgba(24, 225, 68, 0.5);

}

.uncompleted {
  background-color: rgba(239, 22, 22, 0.5);
}



.simple-calendar {
  background-color: #fff5;
  box-shadow: 0 5px 25px rgba(0,0,0, .2);
  border-radius: 2rem;
  margin-top: 10px;
  overflow-x: auto;

  .calendar-heading {
    position: sticky;
    margin: 10px;
  }


  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
  }
  .next-month { }
  .current-month {
  }

  .has-events {}
}

.my-custom-scrollbar {
  position: relative;
  height: 150px;
  overflow: auto;
  }
  
.table-wrapper-scroll-y {
  display: block;
  }