// Main buttons


// primary
.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  background-color: $primary !important;
  border-color: $primary !important;
}


.btn-primary:hover, .btn-primary.active {
  background-color: $primary-hover !important;
  border-color: $primary-hover !important;
  transition: 0.30ms all;
}


// primary-outline
.btn-outline-primary,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  color: $primary;
  border-color: $primary !important;
}


.btn-outline-primary:hover {
  background-color: $primary-hover !important;
  border-color: $primary-hover !important;
  transition: 0.30ms all;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: $fifth-color !important;
  border-color: $fifth-color !important;
}

.btn-secondary:hover {
  background-color: $secondary-hover !important;
  border-color: $secondary-hover !important;
}

// Hover for action buttons
a.action, input.action {
  background-image: linear-gradient(to right, #b490ca, #5ee7df, #b490ca) !important;
  background-size: 200%;
  transition: 0.4s all;
  border: none;
}

a.action:hover, input.action:hover {
  background-position: right;
  transition: 0.5s all;
}

// for for icons inside links
.link-icon {
  display: flex;
  align-items: center;

  i {
    display: flex;
    align-items: center;
    margin-right: 3px;
  }

  i.left { margin-left: 3px; }
}

.nav-btn {
  border: none;
  border-radius: 1rem;
  font-weight: 700;
}
