.card {
  background: $third-color;
  box-shadow: 0 .4rem .8rem #0005;

  .table-header {
    margin: 0 0 10px;
  }

  input.form-control, select.form-select, textarea.form-control {
    background: #fff5;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
}

form.search { margin-top: 10px; }