.large-table-board {
  background-color: $third-color;
  border-radius: 2rem;
  box-shadow: 0 .4rem .8rem #0005;
  min-height: 40vh;
  padding-inline: 0;

  &__body {
    padding: 0 12px 12px;
  }

  .table-body { height: 55vh; }
}