      /// Bootstrap navbar ///

//navbar right dropdown
#navbarSupportedContent {
  .bi-caret-down-fill::before {
    padding-left: 3px;
  }
}

.navbar-collapse {
  font-size: 18px;
}

.navbar-brand {
  font-size: 31px;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #fff5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link-dropdown:after {
  all: unset;
}

.nav-link:hover:after {
  content: '' ;
  opacity: 1;
}

.active:after {
  opacity: 1;
}

// dropdown-background color
.dropdown-menu {
  background-color: $third-color;
}

//dropdown hover background color
ul.dropdown-menu > li a:hover, li.dropdown-item:hover {
  background-color: #DBE2E6;
}

ul.dropdown-menu > li a:active, li.dropdown-item:active {
  background-color: $fourth-color;
  color: white;
}

// user/_session_manager
#navbarDropdown {
  display: flex;

  svg, img {
    margin-right: 5px;
  }
}