/// Dashboard (Habits, Tasks) ///
.actions-wrapper { margin-top: 20px; }

.action-items {
  height: 600px;
  width: 450px;
  background-color: $third-color;
  box-shadow: 0 .4rem .8rem #0005;
  
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
    align-items: center;
  }

  &__title {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .action-list {
    padding: 10px;
    height: 492px;
    overflow-y: auto;
    list-style-type: none;
    
    &__item {
      display: flex;
      justify-content: space-between;
      background:#DBE2E6;
      padding: 5px;
      border-radius: 5px;
      align-items: center;
      margin-bottom: 7px;
      
      .bi-check-lg::before {
        color: #2da31d;
        font-size: 30px;
      }
    }
  }
}