.large-table-board {
  background-color: $third-color;
  border-radius: 2rem;
  padding-bottom: 20px;
  box-shadow: 0 .4rem .8rem #0005;
  min-height: 70vh;
  padding-inline: 0;

  &__body {
    padding-inline: 12px;
  }

  .table-body { height: 55vh; }
}