<% if @goals.present? %>
  <% @goals.each_with_index do |goal, index| %>
    <li class="<%= goal.complete? ? 'completed' : 'uncompleted' %>">
      <span><%= index + 1 %></span><%= link_to goal.name.truncate(30), goal %>
    </li>
  <% end %>
<% else %>
  <p class="text-center fs-4">No goals have yet</p>
<% end%>
