<% if @goals.present? %>
  <li class="text-center">
    <%= link_to goal.name,
                goal,
                class: "#{goal.complete? ? 'list-group-item list-group-item-success' : 'list-group-item btn btn-primary'}" %>
  </li>
<% end %>

