<div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4 mt-2">

  <div class="card">
    <div class="card-body">
      <div class="table-header">
        <h2 class="text-center title"><%= t('edit_goal') %></h1>
      </div>

      <%= render "form" %>
    </div>
  </div>
</div>
