<div class="col-md-4 offset-4 mt-2">

  <div class="card">
    <div class="table-header">
      <h1><%= t('edit_goal') %></h1>
    </div>
    <div class="card-body">
      <%= render "form" %>
    </div>
  </div>
</div>
