<h1 class="text-center">Create new goal</h1>

<div class="col-sm-12 col-md-4 offset-md-4">
  <%= render "form" %>

  <div class="mt-3">
    <%= link_to t('back'), goals_path, class: 'btn btn-secondary' %>
  </div>
</div>

