@import "fonts";
@import "variables/*";
@import "mixins/*";
@import "components/*";
@import "views/**/*";
@import "mobile";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #03dfff;
  background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.home {
  background: $third-color;
  width: 60vh;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;

  img {
    margin: 0 auto;
    position: relative;
    top: -8%;
  }
}

.title { font-weight: 600; }

// hide content
.hide {
  display: none;
}

.list-group-item.active {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

/// notifications/index list-group-item
.list-group-item { background-color: $third-color; }
.list-group-item:hover { background-color: #DBE2E6; }
.list-group-item.active:hover { background-color: $primary-hover; }









