@import "variables/*";
@import "components/*";
@import "views/**/*";
@import "mobile";

body {
  min-height: 100vh;
  background: #03dfff;
  background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.home {
  background: $third-color;
  height: 43vh;
  width: 60vh;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;

  img {
    margin: 0 auto;
    position: relative;
    top: -8%;
  }
}

.offcanvas.offcanvas-start {
  width: 500px;
}

th a {
  text-decoration: none;
  color: inherit;
}:hover {
  text-decoration: none;
 }



      /// Bootstrap ///
.navbar-collapse {
  font-size: 18px;
}

.navbar-brand {
  font-size: 31px;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  background-color: #fff5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link-dropdown:after {
  all: unset;
}

.nav-link:hover:after {
  content: '' ;
  opacity: 1;
}

.active:after {
  opacity: 1;
}

// Forms
.card {
  background: $third-color;
  box-shadow: 0 .4rem .8rem #0005;

  .table-header {
    margin-top: 16px;
  }

  input.form-control, select.form-select, textarea.form-control {
    background: #fff5;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
}

.offcanvas {
  background-color: $third-color;

  .offcanvas-title {
    font-size: 25px;
  }
}

// dropdown-background color
.dropdown-menu {
  background-color: $third-color;
}

// user/_session_manager
#navbarDropdown {
  display: flex;

  svg, img {
    margin-right: 5px;
  }
}




