@import "variables/*";
@import "components/*";
@import "views/**/*";
@import "mobile";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #03dfff;
  background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.home {
  background: $third-color;
  width: 60vh;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;

  img {
    margin: 0 auto;
    position: relative;
    top: -8%;
  }
}




