// content for mobile screen
.mobile-show {
  display: none;
}


@media (max-width: 1400px) {
  #dashboard-show {
    .action-items {
      width: 380px;
    }
  }
}

@media (max-width: 1200px) {
  #navbarSupportedContent {
    font-size: 14px;
  }

  a.navbar-brand {
    font-size: 28px;
  }

  #dashboard-show {
    .actions-wrapper {
      .goals-wrapper {
        width: 270px;
      }

      .action-items {
        width: 300px;

        &__title {
          font-size: 18px;
        }
      }
    }
  }


  .all-items {
    .table-wrapper {
      width: 50vh;
    }
  }
}

@media (min-width: 992px) {
  #navbar__right {
    align-items: center;
  
    a > span.user-name {
      margin: auto;
    }
  }
}

@media (max-width: 991px) {

  // Navbar
  #navbarSupportedContent {
    font-size: 23px;

    #navbarDropdown {
      svg, img {
        width: 36px;
      }
    }


    .dropdown-menu {
      font-size: 25px;
    }

    .navbar-nav {
      a.nav-link {
        position: unset;
      }
    }
  }

  // App logo
  a.navbar-brand {
    font-size: 38px;
  }

  a.btn, button.btn, input.btn {
    font-size: 19px;
    transition: unset;
  }

  // Mobile visibility
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: flex !important;
  }

  .table-header {
    h2 {
      font-size: 36px;
    }
  }

  // Dashboard
  #dashboard-show {
    .actions-wrapper {
      flex-direction: column;

      .goals-background {
        background-color: $third-color;
        border-radius: 1rem;
        padding: 20px;

        .new_goal {
          margin-top: 20px;

          a {
            font-size: 25px;
          }
        }
      }

      .goals-wrapper {
        width: 100%;
        height: 238px;
        overflow-y: hidden;
        overflow-x: auto;
        border-radius: 1rem;

        .goals-list {
          flex-direction: row;
          justify-content: space-between;
          width: 1800px;
          background-color: #DBE2E6;

          &__item {
            width: 500px;
            height: 215px;
            margin-inline: 20px;

            i:before {
              font-size: 45px;
              margin-top: 15px;
            }
          }

          &__title {
            font-size: 21px;
          }
        }

        .progress-info {
          font-size: 20px;
          margin-top: 20px;
        }

      }


      .action-items {
        width: 100%;
        height: 100%;
        margin: 30px auto;

        &__title {
          font-size: 20px;
        }

        .completed-show__all {
          font-size: 20px;

          i:before {
            font-size: 18px;
          }
        }

        &__item {
          margin-bottom: 25px;
          font-size: 25px;
        }

        .completed-info {
          font-size: 20px;
        }
      }
    }
  }

  // Goals
  #goals-index {
    .categories-wrapper {
      margin: 0 auto;
      height: 70vh;
      width: 35vh;
      font-size: 25px;

      .new-category {
        a.btn {
          font-size: 23px;
        }
      }
    }
  }

  #goals-show {
    div.goal-info {
      width: unset;
      font-size: 22px;
    }

    .completion-wrapper {
      flex-direction: column;

      .table-main {
        height: 70vh;
        width: unset;

        .table-wrapper {
          height: 89%;

          .table-body {
            height: 83%;
          }
        }
      }
    }
  }

  // All items
    .all-items {
      flex-direction: column;

      .table-wrapper {
        margin-inline: auto;
        width: 90%;
      }

      .buttons-list {
        margin-bottom: 10px;
      }
    }

}

@media (max-width: 768px) {
  a.btn, button.btn, input.btn {
    font-size: 17px;
  }

  .table-header {
    h2 {
      font-size: 30px;
    }
  }

  .simple-calendar {
    overflow-x: auto;
  }
}

@media (max-width: 576px) {

  #navbarSupportedContent {
    .dropdown-menu {
      font-size: 16px;

      li {
        padding: 10px;
      }
    }
  }

  a.btn, button.btn, input.btn {
    font-size: 15px;
    margin-top: 3px;
  }

  .table-header {
    h2 {
      font-size: 27px;
    }
  }

  #dashboard-show {
    div.goal-item > .goal-title {
      font-size: 15px;
    }

    .actions-wrapper > .goals-background > .new_goal {
      a {
        font-size: 20px;
      }
    }

    .actions-items {
      &__title {
        font-size: 20px;
      }

      .action-list {
        &__item {
          font-size: 19px;
        }
      }
    }
  }

  #challenges-show {
    .challenge-header > .winner-board {
      width: 65%;
    }

    #avatar-wrapper img {
      width: 50px;
    }
  }
}