// App colors


$first-color: #5EE7DF;
$second-color: #B490CA;
$third-color: #F4FAFF;
$fourth-color: #4F646F;
$fifth-color: #535657;
$header-color: #DBE2E6;

// Buttons colors
$primary: #9868B6;
$primary-hover: #794997;
$secondary: #535657;
$secondary-hover: #464849;


:root {
  --Table-header-bg: #DBE2E6;
  --Red: hsl(1, 90%, 64%);
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-violet: hsl(257, 33%, 30%)
}