<h1 class="text-center mt-3">Edit Category</h1>

<div class="col-sm-12 col-md-4 offset-md-4">
  <%= render 'form', category: @category %>

  <div class="mt-3">
    <%= link_to 'Back to Categories', categories_path, class: 'btn btn-secondary' %>
  </div>
</div>