<div class="col-sm-12 col-md-4 offset-md-4 mt-5">
  <div class="card">
    <div class="table-header">
      <h2 class="text-center mt-3"><%= t('edit_category') %></h2>
    </div>
    <div class="card-body">
      <%= render 'form', category: @category %>
    </div>
  </div>

  <div class="mt-3">
    <%= link_to t('back'), categories_path, class: 'btn btn-secondary' %>
  </div>
</div>