<div class="col-sm-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4 mt-5">
  <div class="card">
    <div class="table-header">
      <h2 class="text-center"><%= t('edit_category') %></h2>
    </div>
    <div class="card-body">
      <%= render 'form', category: @category %>
    </div>
  </div>
</div>