<h1 class="text-center"><%= @category.name %> category</h1>
<hr>

<h3 class="text-center">
  <%= link_to "Add Goal", new_category_goal_path(@category), class: "btn btn-primary btn-lg" %>
</h3>

<div class="col-md-4 offset-4" style="height: 500px; overflow: scroll; border: 1px solid">
  <% @category.goals.each do |goal| %>
    <ul class="list-group">
      <li class="text-center"><%= link_to goal.name,
                                          [@category, goal],
                                          class: "#{goal.complete? ? 'list-group-item list-group-item-success' : 'list-group-item btn btn-primary'}" %></li>
    </ul>
  <% end %>
</div>

