<h1 class="text-center"><%=@category.name %> category</h1>

<div class="row">
  <div class="col-md-4 offset-4">
    <h3 class="text-center">
      <%= link_to "New Goal", new_category_goal_path(@category), class: "btn btn-primary btn-lg" %>
    </h3>

    <div class="div">
      <% @category.goals.each do |goal| %>
        <li class="text-center"><%= link_to goal.name, [@category, goal], class: "btn btn-tertiary" %></li>
      <% end %>
    </div>
  </div>
</div>
