<div class="text-center" >
  <h1>Habits</h1>


  <div class="row">
    <div class="col-md-4 offset-md-1">
      <h2>Completed</h2>
      <hr>

      <div class="" style="border: 1px solid; width: 350px; height: 450px; overflow: scroll; margin: 0 auto;">
        <% @habits.completed(@goal, current_user).each do |habit| %>
          <p>
            <%= link_to habit.name, goal_habit_path(@goal, habit) %>
            <%= link_to "Destroy", goal_habit_path(@goal, habit), data: { turbo_method: :delete },
                                                                  class: "btn btn-danger btn-sm" %>
          </p>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 offset-md-1">
      <h2 class="">Uncompleted</h2>
      <hr>

      <div class="" style="border: 1px solid; width: 350px; height: 450px; overflow: scroll; margin: 0 auto;">
        <% @habits.uncompleted(@goal, current_user).each do |habit| %>
          <p><%= link_to habit.name, goal_habit_path(@goal, habit) %></p>
        <% end %>
      </div>
    </div>
  </div>

</div>
