<h1 class="text-center">New Habit</h1>

<div class="col-sm-12 col-md-4 offset-md-4">
  <%= render "form" %>

  <div class="mt-3">
    <%= link_to 'Back to goal', goal_path(@goal), class: 'btn btn-secondary' %>
  </div>
</div>

