<% if current_user %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle nav-link-dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="badge rounded-pill bg-danger">
        <%= @unread.count >= 9 ? '9+' : @unread.count %> <i class="bi bi-bell"></i>
      </span>
    </a>

    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
      <div class="d-flex justify-content-between">
        <h5 class="px-3 mt-1">Notifications</h5> <!-- TODO - add style -->
        <span class="px-3 mt-1 "><%= link_to 'Mark all as read', mark_notifications_as_read_path %> </span>
      </div>                                        <!-- TODO - Add view all button (also create notifications index page) -->

      <% @unread.each do |notification| %>
        <li>
          <%= render 'layouts/notification', notification: notification, klass: 'bookmark' %>
        </li>
      <% end %>
      <% if @unread.count > 0 && @read.count > 0 %>
        <li>
          <hr class="dropdown-divider">
        </li>
      <% elsif @read.count + @unread.count == 0 %>
        <li class="dropdown-item">
          No notifications yet. <!-- TODO - translate-->
        </li>
      <% end %>
      <% @read.each do |notification| %>
        <li>
          <%= render 'layouts/notification', notification: notification, klass: 'bookmark-check' %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>